# Database Configuration
MONGODB_ROOT_USERNAME=univen-2025
MONGODB_ROOT_PASSWORD=
MONGODB_DATABASE=univen-2025

# Redis Configuration
REDIS_HOST=redis
REDIS_PORT=6379
REDIS_USERNAME=
REDIS_PASSWORD=
REDIS_DB=0

# Server Configuration
NODE_ENV=development
SERVER_PORT=3005

# Python Server
CRONJOB_ENABLED=true
VNSTOCK_SOURCE=TCBS
