# Docker Environment Configuration
COMPOSE_PROJECT_NAME=univen-2025

# Database Configuration
#MONGODB_URI=mongodb://admin:password123@mongodb:27017/test?authSource=admin


# Redis Configuration
#REDIS_URL=redis://redis:6379
REDIS_URL=redis://default:wLiw6HGNWUzwjwNXMp3kyEH8QZ7SZfgG@redis-16415.c334.asia-southeast2-1.gce.cloud.redislabs.com:16415

# Server Configuration
NODE_ENV=development
SERVER_PORT=5000

# Client Configuration
CUSTOMER_PORT=3000

# Google OAuth (replace with real values)
OAUTH2_CLIENT_ID=placeholder
OAUTH2_CLIENT_SECRET=placeholder

# Python Server
CRONJOB_ENABLED=true
VNSTOCK_SOURCE=TCBS
