# Server Configuration
NODE_ENV=
SERVER_PORT=

# Database Configuration
MONGODB_ROOT_USERNAME=
MONGODB_ROOT_PASSWORD=
MONGODB_DATABASE=

# Redis Configuration
REDIS_HOST=
REDIS_PORT=
REDIS_USERNAME=
REDIS_PASSWORD=
REDIS_DB=

# App Configuration
NODE_ENV=
VNSTOCK_API_KEY=