[submodule "server"]
	path = server
	url = git@gitlab.trancondev.site:tvconss/univen-2025_server.git
[submodule "vnstock-api"]
	path = vnstock-api
	url = git@gitlab.trancondev.site:tvconss/univen-2025_vnstock-api.git
